{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "extends": "standard",
    "rules": {
        "no-warning-comments": [
            "warn"
        ],
        "no-console": [
            "warn"
        ]
    }
}
